{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="" method="POST" novalidate>
		{{ form.hidden_tag() }}
		{{ form.title.label }}
		{{ form.title(size=60) }}
		{% for error in form.title.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		{{ form.body.label }}
		{{ form.body }}
		{% for error in form.body.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		<p>{{ form.submit() }}</p>
  </form>
{% endblock %}
